<div class="image1">
  <div class="image2">
    <h2>pokemon</h2>
    <button (click)="resetGame()">Reset</button>
    <h4>DO NOT GO FAST, WAIT FOR CODE TO CATCH UP!</h4>
    <div class="container">
      <div
        class="imgBack"
        [id]="card.id"
        *ngFor="let card of pokeArray"
        [style.background-image]="'url(' + card.imageUrlHiRes + ')'"
      >
        <img
          [src]=""
          alt=""
          class="Pokemon"
          [ngClass]="{ show: card.flipped, hide: !card.flipped }"
          (click)="card.flipped = !card.flipped; isSelected()"
        />
      </div>
    </div>
  </div>
</div>
