<h2>pokemon</h2>
<div class="container" ng-app="myApp" ng-controller="myCtrl">
  <div
    class="imgBack"
    [id]="card.id"
    *ngFor="let card of pokeArray; let i = index"
    [style.background-image]="'url(' + card.imageUrlHiRes + ')'"
  >
    <img
      [src]=""
      alt=""
      class="Pokemon"
      [ngClass]="{ show: card.flipped, hide: !card.flipped }"
      (click)="card.flipped = !card.flipped"
    />
  </div>
  <!-- <div
    class="imgBack"
    [id]="poke.id"
    *ngFor="let poke of pokemon"
    [style.background-image]="'url(' + poke.imageUrlHiRes + ')'"
  >
    <img
      #myLabel
      [src]=""
      alt=""
      class="Pokemon"
      (click)="showOrHideManually()"
    />
  </div> -->
</div>
