<div class="image1">
  <div class="image2">
    <h2>pokemon</h2>
    <div class="container">
      <div
        class="imgBack"
        [id]="poke.id"
        *ngFor="let poke of pokeArray; let i = index"
        [style.background-image]="'url(' + poke.imageUrlHiRes + ')'"
      >
        <img
          [src]=""
          alt=""
          class="Pokemon"
          [ngClass]="{ show: flipped, hide: !flipped }"
          (click)="flipped = !flipped"
        />
      </div>
      <!-- <div
        class="imgBack"
        [id]="poke.id"
        *ngFor="let poke of pokemon"
        [style.background-image]="'url(' + poke.imageUrlHiRes + ')'"
      >
        <img
          #myLabel
          [src]=""
          alt=""
          class="Pokemon"
          (click)="showOrHideManually()"
        />
      </div> -->
    </div>
  </div>
</div>
