#container {
    width: 100%;
    height: calc(100% - 84px);
    margin: 0;
    padding: 0;
    position: absolute;
}

#background {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    background-image: url('../../resources/SetupBackgroundImage.jpg');
    background-size: cover;
}

#backgroundShader {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
}

#settingsCard {
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: 25px;
    padding: 0;
    position: absolute;
    display: flex;
    justify-content: space-around;
    color: white;
}

#matchAmountContainer {
    width: 500px;
    height: 100px;
    margin: 10px;
    background-color: black;
    border: darkblue solid 1px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#playerAmountContainer {
    width: 500px;
    height: 350px;
    margin: 10px;
    background-color: black;
    border: darkblue solid 1px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: solid;
}

#playerSelection {
    position: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#difficultyContainer {
    position: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

.optionClass {
    margin-top: 20px;
}

#finallization {
    height: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#finallization a {
    margin-top: 50px;
}