<link href="setup.component.scss" />
<div id="container">
  <div id="background"></div>
  <div id="backgroundShader"></div>

  <div id="settingsCard">

    <div id="matchAmountContainer">
      <h3>How many matches would you like to play with?</h3>

    <select id='xyz' [(ngModel)]='numOfCards' value ='4'>
        <option *ngFor='let option of optionsMatches' [value]='option.value'>
          {{option.name}}
        </option>
      </select>

    </div>

   <div id="playerAmountContainer">
      <p>How many Players are there?</p>
      <select
        [value]="selectedValue"
        (input)="playerNumChange($event.target.value)"
      >
        <option *ngFor="let option of options" [value]="option.value">
          {{ option.name }}
        </option>
      </select>

      <div id="playerSelection">
        {{setPlayerSelect(selectedValue)}}
      </div>

      
    </div>
    <div>
        <a routerLink="/game" routerLinkActive="active"><button (click)="playGame()">Play Game</button></a>
    </div>

      

  </div>
</div>