<div id="container">
    <div *ngIf="auth.user$ | async; then authenticated else guest"></div>
        <ng-template #guest>
            <div class="loginbox">
                <p class="title">Pokemon Match Game</p>

                <button class="button" (click)="login()">
                    <div class="google">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"> 
                    </div>
                    Login with Google
                </button>
            </div>
        </ng-template>

        <ng-template #authenticated>
        </ng-template>
</div>